{#
/**
 * @file dialog.html.twig
 * Default theme implementation to present Dialog data.
 *
 * This template is used when viewing Dialog pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_dialog()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('dialog') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
